In [1]:
import random, string
import csv
import pandas as pd

In [9]:

urldata=[]
letters = string.ascii_lowercase
for i in range (0,20000):
    temp = ( ''.join(random.choice(letters) for i in range(10)) )
    urldata.append("https://picsum.photos/seed/" + temp + "/200/300")

In [5]:
fl= pd.read_csv("Datasets/Section.csv",delimiter="|")
id=fl["id"]

print(len(id))

5721

In [4]:
cap= pd.read_csv("Datasets/image_caption.csv",usecols=["comment"],delimiter="|")
captions=cap["comment"]

print(len(captions))

158915

In [18]:
secid=[]
url=[]
url_index=0
caption=[]
cap_index=0


var_figid=0
for i in id:
    for j in range(0,random.randrange(0,3)):
        secid.append(i)
        url.append(urldata[url_index])
        url_index +=1
        caption.append(captions[cap_index])
        cap_index+=1

In [19]:
dati=pd.DataFrame()

dati["secid"]=secid
dati["url"]=url
dati["caption"]=caption

dati

,secid,url,caption
0,0,https://picsum.photos/seed/tcfsjmrfhw/200/300,Two young guys with shaggy hair look at their...
1,0,https://picsum.photos/seed/aogvuydquh/200/300,"Two young , White males are outside near many..."
2,3,https://picsum.photos/seed/hdnmzifmco/200/300,Two men in green shirts are standing in a yard .
3,3,https://picsum.photos/seed/zxswvzsjvg/200/300,A man in a blue shirt standing in a garden .
4,4,https://picsum.photos/seed/uyuzcnshxu/200/300,Two friends enjoy time spent together .
...,...,...,...
5726,5716,https://picsum.photos/seed/nytdfjmzjf/200/300,A golfer prepares to take a shot on golf cour...
5727,5717,https://picsum.photos/seed/hwntvttaba/200/300,A man wearing a t-shirt and shorts is playing...
5728,5717,https://picsum.photos/seed/zrnfgwnnzu/200/300,A man playing a round of golf at the golf cou...
5729,5720,https://picsum.photos/seed/femxykerxp/200/300,A white man in a blue shirt playing golf .
5730,5720,https://picsum.photos/seed/yirltalydf/200/300,A fireman sprays inside the open hood of smal...

In [20]:
dati.to_csv("Datasets/Section_images.csv",index=False,sep="|")

In [12]:
fl= pd.read_csv("Datasets/subSection2.csv",delimiter="|")
id=fl["id"]

print(len(id))

2808

In [13]:
secid=[]
url=[]
url_index=8000
caption=[]
cap_index=8000


var_figid=0
for i in id:
    for j in range(0,random.randrange(0,3)):
        secid.append(i)
        url.append(urldata[url_index])
        url_index +=1
        caption.append(captions[cap_index])
        cap_index+=1

In [14]:
dati=pd.DataFrame()

dati["secid"]=secid
dati["url"]=url
dati["caption"]=caption

dati

,secid,url,caption
0,ss01,https://picsum.photos/seed/qadshiythm/200/300,A happy young girl in pigtails watching somet...
1,ss02,https://picsum.photos/seed/ptbqjstjxf/200/300,A child with her hair tied is smiling .
2,ss02,https://picsum.photos/seed/lgeppumggx/200/300,A girl with pigtails is laughing .
3,ss03,https://picsum.photos/seed/gejcnixgcg/200/300,A girl with pigtails is smiling .
4,ss03,https://picsum.photos/seed/hwcouqtnmd/200/300,A child is laughing and smiling .
...,...,...,...
2744,ss02805,https://picsum.photos/seed/qgglxhxhgh/200/300,A male DJ hooks up his microphone .
2745,ss02806,https://picsum.photos/seed/wtlegbublx/200/300,A boy in a black shirt puts his hands under t...
2746,ss02806,https://picsum.photos/seed/czvnlgudtv/200/300,Here is a picture of a woman getting helped b...
2747,ss02807,https://picsum.photos/seed/zpuxrqorah/200/300,A man is holding a standing woman 's foot wit...
2748,ss02807,https://picsum.photos/seed/sdtkhgnbre/200/300,A young man giving a young woman a boost up a...

In [15]:
dati.to_csv("Datasets/subSection2_images.csv",index=False,sep="|")